<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:"로그인 유형 선택", theme_color:"#fff" })
  </head>
  <body>
    <div id="layout">
      <!-- #gnb -->
      @@include('../include/gnb2.html', { menu: false, page_title:"로그인 유형 선택", path:'..' })
      <!-- // #gnb -->

      <!-- #contents -->
      <main>
        <section>
          <div class="list type-2">
            <div class="inner">
              <ul>
                <li>
                  <a href="javascript:void(0);" class="flex-wrap edge button-active-modal" data-modal-name="inputPassword">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">아이디&#47;비밀번호</em></span>
                      <span>
                        <b>아이디&#47;비밀번호</b>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="flex-wrap edge button-active-modal" data-modal-name="inputCertPassword">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">행정전자서명 인증서</em></span>
                      <span>
                        <b>행정전자서명 인증서</b>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="flex-wrap edge button-active-modal" data-modal-name="inputPattern">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">패턴</em></span>
                      <span>
                        <b>패턴</b>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="flex-wrap edge button-active-modal" data-modal-name="inputPinNumber">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">PIN 번호</em></span>
                      <span>
                        <b>PIN 번호</b>
                      </span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- 모달 -->
      <!-- 비밀번호 입력 -->
      <div class="modal full animate fast" id="modal-inputPassword">@@include('../include/modal_inputPassword.html')</div>

      <!-- 행정전자서명 인증서 비밀번호 입력 -->
      <div class="modal full animate fast" id="modal-inputCertPassword">@@include('../include/modal_inputCertPassword.html')</div>

      <!-- 패턴 입력 -->
      <div class="modal full animate fast" id="modal-inputPattern">@@include('../include/modal_inputPattern.html')</div>

      <!-- PIN번호 입력 -->
      <div class="modal full animate fast" id="modal-inputPinNumber">@@include('../include/modal_inputPinNumber.html')</div>
    </div>
  </body>
</html>
