<div class="grid-wrap gap-none">
  <span class="button--close button-close-allMenu">
    <a href="javascript:void(0);">
      <em class="hidden-txt">전체메뉴</em>
      <i></i>
      <i></i>
    </a>
  </span>
  <aside class="snb">@@include('sideBar.html')</aside>
  <div class="category">
    <ul class="grid-wrap">
      <li>
        <div class="container">
          <h4>모바일 공판정</h4>
          <ul class="_depth2">
            <li><a href="">1심 사건부</a></li>
            <li><a href="">2심 사건부</a></li>
            <li><a href="">3심 사건부</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="container">
          <h4>판결문&#47;결정문 조회</h4>
          <ul class="_depth2">
            <li><a href="">판결문 조회</a></li>
            <li><a href="">결정문 조회</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="container">
          <h4>전자영장 집행</h4>
          <ul class="_depth2">
            <li><a href="">압수수색 영장</a></li>
            <li><a href="">체포구속 영장</a></li>
            <li><a href="">통신사실확인자료 제공요청 허가서</a></li>
            <li><a href="">형 집행장</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="container">
          <h4>압수지원</h4>
          <ul class="_depth2">
            <li><a href="">압수현장 자료</a></li>
            <li>
              <a href="">압수물 관리</a>
              <ul class="_depth3 dot-list2">
                <li><a href="">압수물 조회</a></li>
                <li><a href="">압수물 수리</a></li>
                <li><a href="">압수물 폐기</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="container">
          <h4>재산형&#47;자유형 집행</h4>
          <ul class="_depth2">
            <li>
              <a href="">재산형 집행</a>
              <ul class="_depth3 dot-list2">
                <li><a href="">벌과금 조회</a></li>
                <li><a href="">신한은행 가상계좌 조회</a></li>
              </ul>
            </li>
            <li>
              <a href="">자유형 집행</a>
              <ul class="_depth3 dot-list2">
                <li><a href="">집행정보 조회</a></li>
                <li><a href="">형 집행장</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="container">
          <h4>정보조회</h4>
          <ul class="_depth2">
            <li><a href="">통합사건검색</a></li>
            <li><a href="">범죄경력 조회</a></li>
            <li><a href="">지명수배 정보 조회</a></li>
            <li><a href="">주민정보 조회</a></li>
            <li><a href="">차적 조회</a></li>
            <li><a href="">수배차량 조회</a></li>
            <li><a href="">운전면허 조회</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
