<footer>
  <div class="inner">
    <ul class="grid-wrap col-4 gap-none">
      <li class="flex-wrap center active">
        <a href="../index.html">
          <span class="flex-wrap"><em>메인화면</em></span>
        </a>
      </li>
      <li class="flex-wrap center">
        <a href="">
          <span class="flex-wrap"><em>마이페이지</em></span>
        </a>
      </li>
      <li class="flex-wrap center">
        <a href="">
          <span class="flex-wrap"><em>즐겨찾기</em></span>
        </a>
      </li>
      <li class="flex-wrap center">
        <a href="">
          <span class="flex-wrap"><em>환경설정</em></span>
        </a>
      </li>
    </ul>
  </div>
</footer>
