<header class="modal-header">
  <div class="inner">
    <div class="flex-wrap end h-wrap">
      <span class="button--close">
        <a href="javascript:void(0)" class="button-close-modal" data-modal-name="inputPattern">
          <em class="hidden-txt">레이어팝업 닫기</em>
          <i></i>
          <i></i>
        </a>
      </span>
      <h2>패턴 로그인</h2>
    </div>
  </div>
</header>
<div class="modal-body">
  <section>
    <div class="inner">
      <header class="heading-title-wrap2">
        <h3>사용자 <b class="txt-color primary">ID USERID01</b></h3>
      </header>
      <div class="align-c">패턴을 그려주세요.</div>
    </div>
  </section>
</div>
