<header class="modal-header">
  <div class="inner">
    <div class="flex-wrap end h-wrap">
      <span class="button--close">
        <a href="javascript:void(0)" class="button-close-modal" data-modal-name="inputCertPassword">
          <em class="hidden-txt">레이어팝업 닫기</em>
          <i></i>
          <i></i>
        </a>
      </span>
      <h2>행정전자서명 인증서</h2>
    </div>
  </div>
</header>
<div class="modal-body">
  <section>
    <div class="inner">
      <header class="heading-title-wrap2">
        <h3>사용자 <b class="txt-color primary">ID USERID01</b></h3>
      </header>
      <div class="form-wrap">
        <div class="text-wrap">
          <input
            type="password"
            id="c_password"
            title="행정전자서명 인증서 비밀번호"
            placeholder="행정전자서명 인증서 비밀번호"
            autocomplete="off"
          />
          <button type="button" class="button-reset"><em class="hidden-txt">초기화</em></button>
        </div>
        <div class="btn-wrap">
          <button class="btn-search bg-navy"><em>로그인</em></button>
        </div>
      </div>
    </div>
  </section>
</div>
