<div class="flex-wrap column start edge inner">
  <div class="flex-wrap column user-info">
    <div class="flex-wrap center symbol"><em class="hidden-txt">검찰</em></div>
    <div class="align-c">
      <em>검찰 형사사법정보시스템 입니다.</em>
      <span class="flex-wrap column log">
        <b>홍길동 검사님</b>
        <ul>
          <li class="dash"><a href="">내정보</a></li>
          <li class="dash"><a href="">로그아웃</a></li>
        </ul>
      </span>
    </div>
  </div>
  <div class="grid-wrap gap30 sideMenu">
    <span>
      <a href="" class="flex-wrap inline"><i class="icon icon-notice"></i><em>공지사항</em></a>
    </span>
    <span>
      <a href="" class="flex-wrap inline"><i class="icon icon-faq"></i><em>자주 묻는 질문</em></a>
    </span>
    <span>
      <a href="" class="flex-wrap inline"><i class="icon icon-cert2"></i><em>인증센터</em></a>
    </span>
    <span>
      <a href="" class="flex-wrap inline"><i class="icon icon-setting-navy"></i><em>환경설정</em></a>
    </span>
  </div>
</div>
