  @mixin icon { display: inline-block; background-image: url($sprite-url); background-repeat: no-repeat; background-size: calc(433px/
  2) calc(379px
  / 2); } .icon {font-size:0;} .icon::before {@include icon; content:'';} .icon + em, .icon + b { margin-left:7px;} .column >
  .icon + em, .column > .icon + b { margin-left:0; }

  @mixin icon-arrow-down{ width:calc(28px
  / 2); height:calc(16px
  / 2); background-position: calc(-252px
  / 2) calc(-210px
  / 2); } .icon-arrow-down::before{@include icon-arrow-down;}
  @mixin icon-arrow-down2{ width:calc(28px
  / 2); height:calc(16px
  / 2); background-position: calc(-80px
  / 2) calc(-308px
  / 2); } .icon-arrow-down2::before{@include icon-arrow-down2;}
  @mixin icon-arrow-fold{ width:calc(18px
  / 2); height:calc(12px
  / 2); background-position: calc(-407px
  / 2) calc(-314px
  / 2); } .icon-arrow-fold::before{@include icon-arrow-fold;}
  @mixin icon-arrow-left{ width:calc(12px
  / 2); height:calc(20px
  / 2); background-position: calc(-407px
  / 2) calc(-264px
  / 2); } .icon-arrow-left::before{@include icon-arrow-left;}
  @mixin icon-arrow-right{ width:calc(12px
  / 2); height:calc(20px
  / 2); background-position: calc(-407px
  / 2) calc(-289px
  / 2); } .icon-arrow-right::before{@include icon-arrow-right;}
  @mixin icon-arrow-unfold{ width:calc(18px
  / 2); height:calc(12px
  / 2); background-position: calc(-407px
  / 2) calc(-331px
  / 2); } .icon-arrow-unfold::before{@include icon-arrow-unfold;}
  @mixin icon-arrow-up{ width:calc(28px
  / 2); height:calc(16px
  / 2); background-position: calc(-113px
  / 2) calc(-308px
  / 2); } .icon-arrow-up::before{@include icon-arrow-up;}
  @mixin icon-back{ width:calc(40px
  / 2); height:calc(28px
  / 2); background-position: calc(-362px
  / 2) calc(-131px
  / 2); } .icon-back::before{@include icon-back;}
  @mixin icon-bookmark-active{ width:calc(42px
  / 2); height:calc(40px
  / 2); background-position: calc(-312px
  / 2) calc(-205px
  / 2); } .icon-bookmark-active::before{@include icon-bookmark-active;}
  @mixin icon-bookmark{ width:calc(42px
  / 2); height:calc(40px
  / 2); background-position: calc(-312px
  / 2) calc(-250px
  / 2); } .icon-bookmark::before{@include icon-bookmark;}
  @mixin icon-calendar{ width:calc(32px
  / 2); height:calc(28px
  / 2); background-position: calc(-362px
  / 2) calc(-164px
  / 2); } .icon-calendar::before{@include icon-calendar;}
  @mixin icon-caution{ width:calc(28px
  / 2); height:calc(28px
  / 2); background-position: calc(-47px
  / 2) calc(-308px
  / 2); } .icon-caution::before{@include icon-caution;}
  @mixin icon-cert{ width:calc(27px
  / 2); height:calc(29px
  / 2); background-position: calc(0px
  / 2) calc(-350px
  / 2); } .icon-cert::before{@include icon-cert;}
  @mixin icon-cert2{ width:calc(27px
  / 2); height:calc(29px
  / 2); background-position: calc(-32px
  / 2) calc(-350px
  / 2); } .icon-cert2::before{@include icon-cert2;}
  @mixin icon-check-info01{ width:calc(52px
  / 2); height:calc(57px
  / 2); background-position: calc(-252px
  / 2) calc(-148px
  / 2); } .icon-check-info01::before{@include icon-check-info01;}
  @mixin icon-check-info02{ width:calc(55px
  / 2); height:calc(66px
  / 2); background-position: calc(-252px
  / 2) calc(0px
  / 2); } .icon-check-info02::before{@include icon-check-info02;}
  @mixin icon-check-info03{ width:calc(48px
  / 2); height:calc(72px
  / 2); background-position: calc(-252px
  / 2) calc(-71px
  / 2); } .icon-check-info03::before{@include icon-check-info03;}
  @mixin icon-check-info04{ width:calc(45px
  / 2); height:calc(61px
  / 2); background-position: calc(-312px
  / 2) calc(0px
  / 2); } .icon-check-info04::before{@include icon-check-info04;}
  @mixin icon-check-info05{ width:calc(59px
  / 2); height:calc(58px
  / 2); background-position: calc(-64px
  / 2) calc(-242px
  / 2); } .icon-check-info05::before{@include icon-check-info05;}
  @mixin icon-check-info06{ width:calc(62px
  / 2); height:calc(59px
  / 2); background-position: calc(0px
  / 2) calc(-178px
  / 2); } .icon-check-info06::before{@include icon-check-info06;}
  @mixin icon-check-info07{ width:calc(59px
  / 2); height:calc(42px
  / 2); background-position: calc(-136px
  / 2) calc(-178px
  / 2); } .icon-check-info07::before{@include icon-check-info07;}
  @mixin icon-checked{ width:calc(22px
  / 2); height:calc(18px
  / 2); background-position: calc(-407px
  / 2) calc(-191px
  / 2); } .icon-checked::before{@include icon-checked;}
  @mixin icon-checked2{ width:calc(32px
  / 2); height:calc(26px
  / 2); background-position: calc(-362px
  / 2) calc(-231px
  / 2); } .icon-checked2::before{@include icon-checked2;}
  @mixin icon-close{ width:calc(40px
  / 2); height:calc(40px
  / 2); background-position: calc(-173px
  / 2) calc(-242px
  / 2); } .icon-close::before{@include icon-close;}
  @mixin icon-detail-view{ width:calc(72px
  / 2); height:calc(61px
  / 2); background-position: calc(-81px
  / 2) calc(-45px
  / 2); } .icon-detail-view::before{@include icon-detail-view;}
  @mixin icon-dot-gray{ width:calc(8px
  / 2); height:calc(8px
  / 2); background-position: calc(-425px
  / 2) calc(-237px
  / 2); } .icon-dot-gray::before{@include icon-dot-gray;}
  @mixin icon-dot{ width:calc(8px
  / 2); height:calc(8px
  / 2); background-position: calc(-425px
  / 2) calc(-250px
  / 2); } .icon-dot::before{@include icon-dot;}
  @mixin icon-exec{ width:calc(74px
  / 2); height:calc(62px
  / 2); background-position: calc(0px
  / 2) calc(-111px
  / 2); } .icon-exec::before{@include icon-exec;}
  @mixin icon-exec2{ width:calc(76px
  / 2); height:calc(61px
  / 2); background-position: calc(0px
  / 2) calc(-45px
  / 2); } .icon-exec2::before{@include icon-exec2;}
  @mixin icon-faq{ width:calc(29px
  / 2); height:calc(29px
  / 2); background-position: calc(-362px
  / 2) calc(-197px
  / 2); } .icon-faq::before{@include icon-faq;}
  @mixin icon-home-active{ width:calc(40px
  / 2); height:calc(42px
  / 2); background-position: calc(-200px
  / 2) calc(-178px
  / 2); } .icon-home-active::before{@include icon-home-active;}
  @mixin icon-home{ width:calc(40px
  / 2); height:calc(42px
  / 2); background-position: calc(-128px
  / 2) calc(-242px
  / 2); } .icon-home::before{@include icon-home;}
  @mixin icon-login-type01{ width:calc(56px
  / 2); height:calc(66px
  / 2); background-position: calc(-187px
  / 2) calc(-67px
  / 2); } .icon-login-type01::before{@include icon-login-type01;}
  @mixin icon-login-type02{ width:calc(60px
  / 2); height:calc(62px
  / 2); background-position: calc(-187px
  / 2) calc(0px
  / 2); } .icon-login-type02::before{@include icon-login-type02;}
  @mixin icon-login-type03{ width:calc(59px
  / 2); height:calc(61px
  / 2); background-position: calc(0px
  / 2) calc(-242px
  / 2); } .icon-login-type03::before{@include icon-login-type03;}
  @mixin icon-login-type04{ width:calc(79px
  / 2); height:calc(47px
  / 2); background-position: calc(-79px
  / 2) calc(-111px
  / 2); } .icon-login-type04::before{@include icon-login-type04;}
  @mixin icon-logo{ width:calc(182px
  / 2); height:calc(40px
  / 2); background-position: calc(0px
  / 2) calc(0px
  / 2); } .icon-logo::before{@include icon-logo;}
  @mixin icon-manual{ width:calc(25px
  / 2); height:calc(29px
  / 2); background-position: calc(-407px
  / 2) calc(-35px
  / 2); } .icon-manual::before{@include icon-manual;}
  @mixin icon-more{ width:calc(20px
  / 2); height:calc(20px
  / 2); background-position: calc(-407px
  / 2) calc(-166px
  / 2); } .icon-more::before{@include icon-more;}
  @mixin icon-mypage-active{ width:calc(40px
  / 2); height:calc(38px
  / 2); background-position: calc(-362px
  / 2) calc(0px
  / 2); } .icon-mypage-active::before{@include icon-mypage-active;}
  @mixin icon-mypage{ width:calc(40px
  / 2); height:calc(38px
  / 2); background-position: calc(-362px
  / 2) calc(-43px
  / 2); } .icon-mypage::before{@include icon-mypage;}
  @mixin icon-next-active-wh{ width:calc(16px
  / 2); height:calc(27px
  / 2); background-position: calc(-407px
  / 2) calc(-102px
  / 2); } .icon-next-active-wh::before{@include icon-next-active-wh;}
  @mixin icon-next-active{ width:calc(16px
  / 2); height:calc(27px
  / 2); background-position: calc(-407px
  / 2) calc(-134px
  / 2); } .icon-next-active::before{@include icon-next-active;}
  @mixin icon-next-black{ width:calc(16px
  / 2); height:calc(28px
  / 2); background-position: calc(-407px
  / 2) calc(-69px
  / 2); } .icon-next-black::before{@include icon-next-black;}
  @mixin icon-next{ width:calc(13px
  / 2); height:calc(22px
  / 2); background-position: calc(-407px
  / 2) calc(-237px
  / 2); } .icon-next::before{@include icon-next;}
  @mixin icon-notice{ width:calc(26px
  / 2); height:calc(30px
  / 2); background-position: calc(-407px
  / 2) calc(0px
  / 2); } .icon-notice::before{@include icon-notice;}
  @mixin icon-search{ width:calc(38px
  / 2); height:calc(40px
  / 2); background-position: calc(-362px
  / 2) calc(-86px
  / 2); } .icon-search::before{@include icon-search;}
  @mixin icon-setting-active{ width:calc(42px
  / 2); height:calc(42px
  / 2); background-position: calc(-312px
  / 2) calc(-66px
  / 2); } .icon-setting-active::before{@include icon-setting-active;}
  @mixin icon-setting-black{ width:calc(40px
  / 2); height:calc(40px
  / 2); background-position: calc(-218px
  / 2) calc(-242px
  / 2); } .icon-setting-black::before{@include icon-setting-black;}
  @mixin icon-setting{ width:calc(42px
  / 2); height:calc(42px
  / 2); background-position: calc(-312px
  / 2) calc(-113px
  / 2); } .icon-setting::before{@include icon-setting;}
  @mixin icon-symbol{ width:calc(64px
  / 2); height:calc(54px
  / 2); background-position: calc(-67px
  / 2) calc(-178px
  / 2); } .icon-symbol::before{@include icon-symbol;}
  @mixin icon-tag{ width:calc(26px
  / 2); height:calc(32px
  / 2); background-position: calc(-362px
  / 2) calc(-262px
  / 2); } .icon-tag::before{@include icon-tag;}
  @mixin icon-trial01{ width:calc(41px
  / 2); height:calc(38px
  / 2); background-position: calc(-263px
  / 2) calc(-242px
  / 2); } .icon-trial01::before{@include icon-trial01;}
  @mixin icon-trial02{ width:calc(42px
  / 2); height:calc(37px
  / 2); background-position: calc(0px
  / 2) calc(-308px
  / 2); } .icon-trial02::before{@include icon-trial02;}
  @mixin icon-trial03{ width:calc(42px
  / 2); height:calc(31px
  / 2); background-position: calc(-187px
  / 2) calc(-138px
  / 2); } .icon-trial03::before{@include icon-trial03;}
  @mixin icon-trial04{ width:calc(43px
  / 2); height:calc(40px
  / 2); background-position: calc(-312px
  / 2) calc(-160px
  / 2); } .icon-trial04::before{@include icon-trial04;}
  @mixin icon-unchecked{ width:calc(22px
  / 2); height:calc(18px
  / 2); background-position: calc(-407px
  / 2) calc(-214px
  / 2); } .icon-unchecked::before{@include icon-unchecked;}
  @mixin icon-unchecked2{ width:calc(32px
  / 2); height:calc(26px
  / 2); background-position: calc(-362px
  / 2) calc(-299px
  / 2); } .icon-unchecked2::before{@include icon-unchecked2;}
