  @mixin icon { display: inline-block; background-image: url($sprite-url); background-repeat: no-repeat; background-size:
  -webkit-calc(391px
  / 2) -webkit-calc(346px
  / 2); background-size: -moz-calc(391px
  / 2) -moz-calc(346px
  / 2); background-size: calc(391px
  / 2) calc(346px
  / 2);} .icon { @include icon;} .icon + em, .icon + b { margin-left:5px; position:relative; top:1px;}

  @mixin icon-arrow-down{ width:-webkit-calc(28px
  / 2); width:-moz-calc(28px
  / 2); width:calc(28px
  / 2); height:-webkit-calc(16px
  / 2); height:-moz-calc(16px
  / 2); height:calc(16px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(-241px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(-241px
  / 2); background-position: calc(-362px
  / 2) calc(-241px
  / 2); } .icon-arrow-down
  { @include icon-arrow-down; }
  @mixin icon-arrow-down2{ width:-webkit-calc(28px
  / 2); width:-moz-calc(28px
  / 2); width:calc(28px
  / 2); height:-webkit-calc(16px
  / 2); height:-moz-calc(16px
  / 2); height:calc(16px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(-262px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(-262px
  / 2); background-position: calc(-362px
  / 2) calc(-262px
  / 2); } .icon-arrow-down2
  { @include icon-arrow-down2; }
  @mixin icon-arrow-fold{ width:-webkit-calc(18px
  / 2); width:-moz-calc(18px
  / 2); width:calc(18px
  / 2); height:-webkit-calc(12px
  / 2); height:-moz-calc(12px
  / 2); height:calc(12px
  / 2); background-position: -webkit-calc(-163px
  / 2) -webkit-calc(-136px
  / 2); background-position: -moz-calc(-163px
  / 2) -moz-calc(-136px
  / 2); background-position: calc(-163px
  / 2) calc(-136px
  / 2); } .icon-arrow-fold
  { @include icon-arrow-fold; }
  @mixin icon-arrow-left{ width:-webkit-calc(12px
  / 2); width:-moz-calc(12px
  / 2); width:calc(12px
  / 2); height:-webkit-calc(20px
  / 2); height:-moz-calc(20px
  / 2); height:calc(20px
  / 2); background-position: -webkit-calc(-234px
  / 2) -webkit-calc(-138px
  / 2); background-position: -moz-calc(-234px
  / 2) -moz-calc(-138px
  / 2); background-position: calc(-234px
  / 2) calc(-138px
  / 2); } .icon-arrow-left
  { @include icon-arrow-left; }
  @mixin icon-arrow-right{ width:-webkit-calc(12px
  / 2); width:-moz-calc(12px
  / 2); width:calc(12px
  / 2); height:-webkit-calc(20px
  / 2); height:-moz-calc(20px
  / 2); height:calc(20px
  / 2); background-position: -webkit-calc(-163px
  / 2) -webkit-calc(-111px
  / 2); background-position: -moz-calc(-163px
  / 2) -moz-calc(-111px
  / 2); background-position: calc(-163px
  / 2) calc(-111px
  / 2); } .icon-arrow-right
  { @include icon-arrow-right; }
  @mixin icon-arrow-unfold{ width:-webkit-calc(18px
  / 2); width:-moz-calc(18px
  / 2); width:calc(18px
  / 2); height:-webkit-calc(12px
  / 2); height:-moz-calc(12px
  / 2); height:calc(12px
  / 2); background-position: -webkit-calc(-263px
  / 2) -webkit-calc(-308px
  / 2); background-position: -moz-calc(-263px
  / 2) -moz-calc(-308px
  / 2); background-position: calc(-263px
  / 2) calc(-308px
  / 2); } .icon-arrow-unfold
  { @include icon-arrow-unfold; }
  @mixin icon-arrow-up{ width:-webkit-calc(28px
  / 2); width:-moz-calc(28px
  / 2); width:calc(28px
  / 2); height:-webkit-calc(16px
  / 2); height:-moz-calc(16px
  / 2); height:calc(16px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(-283px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(-283px
  / 2); background-position: calc(-362px
  / 2) calc(-283px
  / 2); } .icon-arrow-up
  { @include icon-arrow-up; }
  @mixin icon-back{ width:-webkit-calc(40px
  / 2); width:-moz-calc(40px
  / 2); width:calc(40px
  / 2); height:-webkit-calc(28px
  / 2); height:-moz-calc(28px
  / 2); height:calc(28px
  / 2); background-position: -webkit-calc(-90px
  / 2) -webkit-calc(-308px
  / 2); background-position: -moz-calc(-90px
  / 2) -moz-calc(-308px
  / 2); background-position: calc(-90px
  / 2) calc(-308px
  / 2); } .icon-back
  { @include icon-back; }
  @mixin icon-bookmark-active{ width:-webkit-calc(42px
  / 2); width:-moz-calc(42px
  / 2); width:calc(42px
  / 2); height:-webkit-calc(40px
  / 2); height:-moz-calc(40px
  / 2); height:calc(40px
  / 2); background-position: -webkit-calc(-312px
  / 2) -webkit-calc(-205px
  / 2); background-position: -moz-calc(-312px
  / 2) -moz-calc(-205px
  / 2); background-position: calc(-312px
  / 2) calc(-205px
  / 2); } .icon-bookmark-active
  { @include icon-bookmark-active; }
  @mixin icon-bookmark{ width:-webkit-calc(42px
  / 2); width:-moz-calc(42px
  / 2); width:calc(42px
  / 2); height:-webkit-calc(40px
  / 2); height:-moz-calc(40px
  / 2); height:calc(40px
  / 2); background-position: -webkit-calc(-312px
  / 2) -webkit-calc(-250px
  / 2); background-position: -moz-calc(-312px
  / 2) -moz-calc(-250px
  / 2); background-position: calc(-312px
  / 2) calc(-250px
  / 2); } .icon-bookmark
  { @include icon-bookmark; }
  @mixin icon-calendar{ width:-webkit-calc(32px
  / 2); width:-moz-calc(32px
  / 2); width:calc(32px
  / 2); height:-webkit-calc(28px
  / 2); height:-moz-calc(28px
  / 2); height:calc(28px
  / 2); background-position: -webkit-calc(-135px
  / 2) -webkit-calc(-308px
  / 2); background-position: -moz-calc(-135px
  / 2) -moz-calc(-308px
  / 2); background-position: calc(-135px
  / 2) calc(-308px
  / 2); } .icon-calendar
  { @include icon-calendar; }
  @mixin icon-caution{ width:-webkit-calc(28px
  / 2); width:-moz-calc(28px
  / 2); width:calc(28px
  / 2); height:-webkit-calc(28px
  / 2); height:-moz-calc(28px
  / 2); height:calc(28px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(-71px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(-71px
  / 2); background-position: calc(-362px
  / 2) calc(-71px
  / 2); } .icon-caution
  { @include icon-caution; }
  @mixin icon-cert{ width:-webkit-calc(27px
  / 2); width:-moz-calc(27px
  / 2); width:calc(27px
  / 2); height:-webkit-calc(29px
  / 2); height:-moz-calc(29px
  / 2); height:calc(29px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(-104px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(-104px
  / 2); background-position: calc(-362px
  / 2) calc(-104px
  / 2); } .icon-cert
  { @include icon-cert; }
  @mixin icon-cert2{ width:-webkit-calc(27px
  / 2); width:-moz-calc(27px
  / 2); width:calc(27px
  / 2); height:-webkit-calc(29px
  / 2); height:-moz-calc(29px
  / 2); height:calc(29px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(-138px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(-138px
  / 2); background-position: calc(-362px
  / 2) calc(-138px
  / 2); } .icon-cert2
  { @include icon-cert2; }
  @mixin icon-check-info01{ width:-webkit-calc(52px
  / 2); width:-moz-calc(52px
  / 2); width:calc(52px
  / 2); height:-webkit-calc(57px
  / 2); height:-moz-calc(57px
  / 2); height:calc(57px
  / 2); background-position: -webkit-calc(-252px
  / 2) -webkit-calc(-148px
  / 2); background-position: -moz-calc(-252px
  / 2) -moz-calc(-148px
  / 2); background-position: calc(-252px
  / 2) calc(-148px
  / 2); } .icon-check-info01
  { @include icon-check-info01; }
  @mixin icon-check-info02{ width:-webkit-calc(55px
  / 2); width:-moz-calc(55px
  / 2); width:calc(55px
  / 2); height:-webkit-calc(66px
  / 2); height:-moz-calc(66px
  / 2); height:calc(66px
  / 2); background-position: -webkit-calc(-252px
  / 2) -webkit-calc(0px
  / 2); background-position: -moz-calc(-252px
  / 2) -moz-calc(0px
  / 2); background-position: calc(-252px
  / 2) calc(0px
  / 2); } .icon-check-info02
  { @include icon-check-info02; }
  @mixin icon-check-info03{ width:-webkit-calc(48px
  / 2); width:-moz-calc(48px
  / 2); width:calc(48px
  / 2); height:-webkit-calc(72px
  / 2); height:-moz-calc(72px
  / 2); height:calc(72px
  / 2); background-position: -webkit-calc(-252px
  / 2) -webkit-calc(-71px
  / 2); background-position: -moz-calc(-252px
  / 2) -moz-calc(-71px
  / 2); background-position: calc(-252px
  / 2) calc(-71px
  / 2); } .icon-check-info03
  { @include icon-check-info03; }
  @mixin icon-check-info04{ width:-webkit-calc(45px
  / 2); width:-moz-calc(45px
  / 2); width:calc(45px
  / 2); height:-webkit-calc(61px
  / 2); height:-moz-calc(61px
  / 2); height:calc(61px
  / 2); background-position: -webkit-calc(-312px
  / 2) -webkit-calc(0px
  / 2); background-position: -moz-calc(-312px
  / 2) -moz-calc(0px
  / 2); background-position: calc(-312px
  / 2) calc(0px
  / 2); } .icon-check-info04
  { @include icon-check-info04; }
  @mixin icon-check-info05{ width:-webkit-calc(59px
  / 2); width:-moz-calc(59px
  / 2); width:calc(59px
  / 2); height:-webkit-calc(58px
  / 2); height:-moz-calc(58px
  / 2); height:calc(58px
  / 2); background-position: -webkit-calc(-64px
  / 2) -webkit-calc(-242px
  / 2); background-position: -moz-calc(-64px
  / 2) -moz-calc(-242px
  / 2); background-position: calc(-64px
  / 2) calc(-242px
  / 2); } .icon-check-info05
  { @include icon-check-info05; }
  @mixin icon-check-info06{ width:-webkit-calc(62px
  / 2); width:-moz-calc(62px
  / 2); width:calc(62px
  / 2); height:-webkit-calc(59px
  / 2); height:-moz-calc(59px
  / 2); height:calc(59px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-178px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-178px
  / 2); background-position: calc(0px
  / 2) calc(-178px
  / 2); } .icon-check-info06
  { @include icon-check-info06; }
  @mixin icon-check-info07{ width:-webkit-calc(59px
  / 2); width:-moz-calc(59px
  / 2); width:calc(59px
  / 2); height:-webkit-calc(42px
  / 2); height:-moz-calc(42px
  / 2); height:calc(42px
  / 2); background-position: -webkit-calc(-136px
  / 2) -webkit-calc(-178px
  / 2); background-position: -moz-calc(-136px
  / 2) -moz-calc(-178px
  / 2); background-position: calc(-136px
  / 2) calc(-178px
  / 2); } .icon-check-info07
  { @include icon-check-info07; }
  @mixin icon-checked{ width:-webkit-calc(22px
  / 2); width:-moz-calc(22px
  / 2); width:calc(22px
  / 2); height:-webkit-calc(18px
  / 2); height:-moz-calc(18px
  / 2); height:calc(18px
  / 2); background-position: -webkit-calc(-209px
  / 2) -webkit-calc(-308px
  / 2); background-position: -moz-calc(-209px
  / 2) -moz-calc(-308px
  / 2); background-position: calc(-209px
  / 2) calc(-308px
  / 2); } .icon-checked
  { @include icon-checked; }
  @mixin icon-checked2{ width:-webkit-calc(32px
  / 2); width:-moz-calc(32px
  / 2); width:calc(32px
  / 2); height:-webkit-calc(26px
  / 2); height:-moz-calc(26px
  / 2); height:calc(26px
  / 2); background-position: -webkit-calc(-252px
  / 2) -webkit-calc(-210px
  / 2); background-position: -moz-calc(-252px
  / 2) -moz-calc(-210px
  / 2); background-position: calc(-252px
  / 2) calc(-210px
  / 2); } .icon-checked2
  { @include icon-checked2; }
  @mixin icon-detail-view{ width:-webkit-calc(72px
  / 2); width:-moz-calc(72px
  / 2); width:calc(72px
  / 2); height:-webkit-calc(61px
  / 2); height:-moz-calc(61px
  / 2); height:calc(61px
  / 2); background-position: -webkit-calc(-81px
  / 2) -webkit-calc(-45px
  / 2); background-position: -moz-calc(-81px
  / 2) -moz-calc(-45px
  / 2); background-position: calc(-81px
  / 2) calc(-45px
  / 2); } .icon-detail-view
  { @include icon-detail-view; }
  @mixin icon-dot-gray{ width:-webkit-calc(8px
  / 2); width:-moz-calc(8px
  / 2); width:calc(8px
  / 2); height:-webkit-calc(8px
  / 2); height:-moz-calc(8px
  / 2); height:calc(8px
  / 2); background-position: -webkit-calc(-383px
  / 2) -webkit-calc(-304px
  / 2); background-position: -moz-calc(-383px
  / 2) -moz-calc(-304px
  / 2); background-position: calc(-383px
  / 2) calc(-304px
  / 2); } .icon-dot-gray
  { @include icon-dot-gray; }
  @mixin icon-dot{ width:-webkit-calc(8px
  / 2); width:-moz-calc(8px
  / 2); width:calc(8px
  / 2); height:-webkit-calc(8px
  / 2); height:-moz-calc(8px
  / 2); height:calc(8px
  / 2); background-position: -webkit-calc(-383px
  / 2) -webkit-calc(-317px
  / 2); background-position: -moz-calc(-383px
  / 2) -moz-calc(-317px
  / 2); background-position: calc(-383px
  / 2) calc(-317px
  / 2); } .icon-dot
  { @include icon-dot; }
  @mixin icon-exec{ width:-webkit-calc(74px
  / 2); width:-moz-calc(74px
  / 2); width:calc(74px
  / 2); height:-webkit-calc(62px
  / 2); height:-moz-calc(62px
  / 2); height:calc(62px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-111px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-111px
  / 2); background-position: calc(0px
  / 2) calc(-111px
  / 2); } .icon-exec
  { @include icon-exec; }
  @mixin icon-exec2{ width:-webkit-calc(76px
  / 2); width:-moz-calc(76px
  / 2); width:calc(76px
  / 2); height:-webkit-calc(61px
  / 2); height:-moz-calc(61px
  / 2); height:calc(61px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-45px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-45px
  / 2); background-position: calc(0px
  / 2) calc(-45px
  / 2); } .icon-exec2
  { @include icon-exec2; }
  @mixin icon-faq{ width:-webkit-calc(29px
  / 2); width:-moz-calc(29px
  / 2); width:calc(29px
  / 2); height:-webkit-calc(29px
  / 2); height:-moz-calc(29px
  / 2); height:calc(29px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(0px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(0px
  / 2); background-position: calc(-362px
  / 2) calc(0px
  / 2); } .icon-faq
  { @include icon-faq; }
  @mixin icon-home-active{ width:-webkit-calc(40px
  / 2); width:-moz-calc(40px
  / 2); width:calc(40px
  / 2); height:-webkit-calc(42px
  / 2); height:-moz-calc(42px
  / 2); height:calc(42px
  / 2); background-position: -webkit-calc(-200px
  / 2) -webkit-calc(-178px
  / 2); background-position: -moz-calc(-200px
  / 2) -moz-calc(-178px
  / 2); background-position: calc(-200px
  / 2) calc(-178px
  / 2); } .icon-home-active
  { @include icon-home-active; }
  @mixin icon-home{ width:-webkit-calc(40px
  / 2); width:-moz-calc(40px
  / 2); width:calc(40px
  / 2); height:-webkit-calc(42px
  / 2); height:-moz-calc(42px
  / 2); height:calc(42px
  / 2); background-position: -webkit-calc(-128px
  / 2) -webkit-calc(-242px
  / 2); background-position: -moz-calc(-128px
  / 2) -moz-calc(-242px
  / 2); background-position: calc(-128px
  / 2) calc(-242px
  / 2); } .icon-home
  { @include icon-home; }
  @mixin icon-login-type01{ width:-webkit-calc(56px
  / 2); width:-moz-calc(56px
  / 2); width:calc(56px
  / 2); height:-webkit-calc(66px
  / 2); height:-moz-calc(66px
  / 2); height:calc(66px
  / 2); background-position: -webkit-calc(-187px
  / 2) -webkit-calc(-67px
  / 2); background-position: -moz-calc(-187px
  / 2) -moz-calc(-67px
  / 2); background-position: calc(-187px
  / 2) calc(-67px
  / 2); } .icon-login-type01
  { @include icon-login-type01; }
  @mixin icon-login-type02{ width:-webkit-calc(60px
  / 2); width:-moz-calc(60px
  / 2); width:calc(60px
  / 2); height:-webkit-calc(62px
  / 2); height:-moz-calc(62px
  / 2); height:calc(62px
  / 2); background-position: -webkit-calc(-187px
  / 2) -webkit-calc(0px
  / 2); background-position: -moz-calc(-187px
  / 2) -moz-calc(0px
  / 2); background-position: calc(-187px
  / 2) calc(0px
  / 2); } .icon-login-type02
  { @include icon-login-type02; }
  @mixin icon-login-type03{ width:-webkit-calc(59px
  / 2); width:-moz-calc(59px
  / 2); width:calc(59px
  / 2); height:-webkit-calc(61px
  / 2); height:-moz-calc(61px
  / 2); height:calc(61px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-242px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-242px
  / 2); background-position: calc(0px
  / 2) calc(-242px
  / 2); } .icon-login-type03
  { @include icon-login-type03; }
  @mixin icon-login-type04{ width:-webkit-calc(79px
  / 2); width:-moz-calc(79px
  / 2); width:calc(79px
  / 2); height:-webkit-calc(47px
  / 2); height:-moz-calc(47px
  / 2); height:calc(47px
  / 2); background-position: -webkit-calc(-79px
  / 2) -webkit-calc(-111px
  / 2); background-position: -moz-calc(-79px
  / 2) -moz-calc(-111px
  / 2); background-position: calc(-79px
  / 2) calc(-111px
  / 2); } .icon-login-type04
  { @include icon-login-type04; }
  @mixin icon-logo{ width:-webkit-calc(182px
  / 2); width:-moz-calc(182px
  / 2); width:calc(182px
  / 2); height:-webkit-calc(40px
  / 2); height:-moz-calc(40px
  / 2); height:calc(40px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(0px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(0px
  / 2); background-position: calc(0px
  / 2) calc(0px
  / 2); } .icon-logo
  { @include icon-logo; }
  @mixin icon-manual{ width:-webkit-calc(25px
  / 2); width:-moz-calc(25px
  / 2); width:calc(25px
  / 2); height:-webkit-calc(29px
  / 2); height:-moz-calc(29px
  / 2); height:calc(29px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(-207px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(-207px
  / 2); background-position: calc(-362px
  / 2) calc(-207px
  / 2); } .icon-manual
  { @include icon-manual; }
  @mixin icon-more{ width:-webkit-calc(20px
  / 2); width:-moz-calc(20px
  / 2); width:calc(20px
  / 2); height:-webkit-calc(20px
  / 2); height:-moz-calc(20px
  / 2); height:calc(20px
  / 2); background-position: -webkit-calc(-158px
  / 2) -webkit-calc(-77px
  / 2); background-position: -moz-calc(-158px
  / 2) -moz-calc(-77px
  / 2); background-position: calc(-158px
  / 2) calc(-77px
  / 2); } .icon-more
  { @include icon-more; }
  @mixin icon-mypage-active{ width:-webkit-calc(40px
  / 2); width:-moz-calc(40px
  / 2); width:calc(40px
  / 2); height:-webkit-calc(38px
  / 2); height:-moz-calc(38px
  / 2); height:calc(38px
  / 2); background-position: -webkit-calc(0px
  / 2) -webkit-calc(-308px
  / 2); background-position: -moz-calc(0px
  / 2) -moz-calc(-308px
  / 2); background-position: calc(0px
  / 2) calc(-308px
  / 2); } .icon-mypage-active
  { @include icon-mypage-active; }
  @mixin icon-mypage{ width:-webkit-calc(40px
  / 2); width:-moz-calc(40px
  / 2); width:calc(40px
  / 2); height:-webkit-calc(38px
  / 2); height:-moz-calc(38px
  / 2); height:calc(38px
  / 2); background-position: -webkit-calc(-45px
  / 2) -webkit-calc(-308px
  / 2); background-position: -moz-calc(-45px
  / 2) -moz-calc(-308px
  / 2); background-position: calc(-45px
  / 2) calc(-308px
  / 2); } .icon-mypage
  { @include icon-mypage; }
  @mixin icon-next-active{ width:-webkit-calc(16px
  / 2); width:-moz-calc(16px
  / 2); width:calc(16px
  / 2); height:-webkit-calc(27px
  / 2); height:-moz-calc(27px
  / 2); height:calc(27px
  / 2); background-position: -webkit-calc(-158px
  / 2) -webkit-calc(-45px
  / 2); background-position: -moz-calc(-158px
  / 2) -moz-calc(-45px
  / 2); background-position: calc(-158px
  / 2) calc(-45px
  / 2); } .icon-next-active
  { @include icon-next-active; }
  @mixin icon-next-black{ width:-webkit-calc(16px
  / 2); width:-moz-calc(16px
  / 2); width:calc(16px
  / 2); height:-webkit-calc(28px
  / 2); height:-moz-calc(28px
  / 2); height:calc(28px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(-304px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(-304px
  / 2); background-position: calc(-362px
  / 2) calc(-304px
  / 2); } .icon-next-black
  { @include icon-next-black; }
  @mixin icon-next{ width:-webkit-calc(13px
  / 2); width:-moz-calc(13px
  / 2); width:calc(13px
  / 2); height:-webkit-calc(22px
  / 2); height:-moz-calc(22px
  / 2); height:calc(22px
  / 2); background-position: -webkit-calc(-289px
  / 2) -webkit-calc(-210px
  / 2); background-position: -moz-calc(-289px
  / 2) -moz-calc(-210px
  / 2); background-position: calc(-289px
  / 2) calc(-210px
  / 2); } .icon-next
  { @include icon-next; }
  @mixin icon-notice{ width:-webkit-calc(26px
  / 2); width:-moz-calc(26px
  / 2); width:calc(26px
  / 2); height:-webkit-calc(30px
  / 2); height:-moz-calc(30px
  / 2); height:calc(30px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(-172px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(-172px
  / 2); background-position: calc(-362px
  / 2) calc(-172px
  / 2); } .icon-notice
  { @include icon-notice; }
  @mixin icon-setting-active{ width:-webkit-calc(42px
  / 2); width:-moz-calc(42px
  / 2); width:calc(42px
  / 2); height:-webkit-calc(42px
  / 2); height:-moz-calc(42px
  / 2); height:calc(42px
  / 2); background-position: -webkit-calc(-312px
  / 2) -webkit-calc(-66px
  / 2); background-position: -moz-calc(-312px
  / 2) -moz-calc(-66px
  / 2); background-position: calc(-312px
  / 2) calc(-66px
  / 2); } .icon-setting-active
  { @include icon-setting-active; }
  @mixin icon-setting-black{ width:-webkit-calc(40px
  / 2); width:-moz-calc(40px
  / 2); width:calc(40px
  / 2); height:-webkit-calc(40px
  / 2); height:-moz-calc(40px
  / 2); height:calc(40px
  / 2); background-position: -webkit-calc(-173px
  / 2) -webkit-calc(-242px
  / 2); background-position: -moz-calc(-173px
  / 2) -moz-calc(-242px
  / 2); background-position: calc(-173px
  / 2) calc(-242px
  / 2); } .icon-setting-black
  { @include icon-setting-black; }
  @mixin icon-setting{ width:-webkit-calc(42px
  / 2); width:-moz-calc(42px
  / 2); width:calc(42px
  / 2); height:-webkit-calc(42px
  / 2); height:-moz-calc(42px
  / 2); height:calc(42px
  / 2); background-position: -webkit-calc(-312px
  / 2) -webkit-calc(-113px
  / 2); background-position: -moz-calc(-312px
  / 2) -moz-calc(-113px
  / 2); background-position: calc(-312px
  / 2) calc(-113px
  / 2); } .icon-setting
  { @include icon-setting; }
  @mixin icon-symbol{ width:-webkit-calc(64px
  / 2); width:-moz-calc(64px
  / 2); width:calc(64px
  / 2); height:-webkit-calc(54px
  / 2); height:-moz-calc(54px
  / 2); height:calc(54px
  / 2); background-position: -webkit-calc(-67px
  / 2) -webkit-calc(-178px
  / 2); background-position: -moz-calc(-67px
  / 2) -moz-calc(-178px
  / 2); background-position: calc(-67px
  / 2) calc(-178px
  / 2); } .icon-symbol
  { @include icon-symbol; }
  @mixin icon-tag{ width:-webkit-calc(26px
  / 2); width:-moz-calc(26px
  / 2); width:calc(26px
  / 2); height:-webkit-calc(32px
  / 2); height:-moz-calc(32px
  / 2); height:calc(32px
  / 2); background-position: -webkit-calc(-362px
  / 2) -webkit-calc(-34px
  / 2); background-position: -moz-calc(-362px
  / 2) -moz-calc(-34px
  / 2); background-position: calc(-362px
  / 2) calc(-34px
  / 2); } .icon-tag
  { @include icon-tag; }
  @mixin icon-trial01{ width:-webkit-calc(41px
  / 2); width:-moz-calc(41px
  / 2); width:calc(41px
  / 2); height:-webkit-calc(38px
  / 2); height:-moz-calc(38px
  / 2); height:calc(38px
  / 2); background-position: -webkit-calc(-218px
  / 2) -webkit-calc(-242px
  / 2); background-position: -moz-calc(-218px
  / 2) -moz-calc(-242px
  / 2); background-position: calc(-218px
  / 2) calc(-242px
  / 2); } .icon-trial01
  { @include icon-trial01; }
  @mixin icon-trial02{ width:-webkit-calc(42px
  / 2); width:-moz-calc(42px
  / 2); width:calc(42px
  / 2); height:-webkit-calc(37px
  / 2); height:-moz-calc(37px
  / 2); height:calc(37px
  / 2); background-position: -webkit-calc(-264px
  / 2) -webkit-calc(-242px
  / 2); background-position: -moz-calc(-264px
  / 2) -moz-calc(-242px
  / 2); background-position: calc(-264px
  / 2) calc(-242px
  / 2); } .icon-trial02
  { @include icon-trial02; }
  @mixin icon-trial03{ width:-webkit-calc(42px
  / 2); width:-moz-calc(42px
  / 2); width:calc(42px
  / 2); height:-webkit-calc(31px
  / 2); height:-moz-calc(31px
  / 2); height:calc(31px
  / 2); background-position: -webkit-calc(-187px
  / 2) -webkit-calc(-138px
  / 2); background-position: -moz-calc(-187px
  / 2) -moz-calc(-138px
  / 2); background-position: calc(-187px
  / 2) calc(-138px
  / 2); } .icon-trial03
  { @include icon-trial03; }
  @mixin icon-trial04{ width:-webkit-calc(43px
  / 2); width:-moz-calc(43px
  / 2); width:calc(43px
  / 2); height:-webkit-calc(40px
  / 2); height:-moz-calc(40px
  / 2); height:calc(40px
  / 2); background-position: -webkit-calc(-312px
  / 2) -webkit-calc(-160px
  / 2); background-position: -moz-calc(-312px
  / 2) -moz-calc(-160px
  / 2); background-position: calc(-312px
  / 2) calc(-160px
  / 2); } .icon-trial04
  { @include icon-trial04; }
  @mixin icon-unchecked{ width:-webkit-calc(22px
  / 2); width:-moz-calc(22px
  / 2); width:calc(22px
  / 2); height:-webkit-calc(18px
  / 2); height:-moz-calc(18px
  / 2); height:calc(18px
  / 2); background-position: -webkit-calc(-236px
  / 2) -webkit-calc(-308px
  / 2); background-position: -moz-calc(-236px
  / 2) -moz-calc(-308px
  / 2); background-position: calc(-236px
  / 2) calc(-308px
  / 2); } .icon-unchecked
  { @include icon-unchecked; }
  @mixin icon-unchecked2{ width:-webkit-calc(32px
  / 2); width:-moz-calc(32px
  / 2); width:calc(32px
  / 2); height:-webkit-calc(26px
  / 2); height:-moz-calc(26px
  / 2); height:calc(26px
  / 2); background-position: -webkit-calc(-172px
  / 2) -webkit-calc(-308px
  / 2); background-position: -moz-calc(-172px
  / 2) -moz-calc(-308px
  / 2); background-position: calc(-172px
  / 2) calc(-308px
  / 2); } .icon-unchecked2
  { @include icon-unchecked2; }
