//variable

//color
$black: #000;
$white: #fff;
$darkGray: #222222;
$darkGray2: #333333;
$darkGray3: #424242;
$primary: #0092c2;
$sub: #0091c1;
$sub2: #005d93;
$sub3: #29cde6;
$sub4: #e5f4f9;
$gray: #c6ccce;
$gray2: #a8aeb2;
$gray3: #eff2f8;
$gray4: #ededed;
$gray5: #999999;
$gray6: #666666;
$navy: #09245f;
$red: #ff5a5a;

//sprite url
$sprite-url: '../images/icon_sprite.png';
