<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('./include/head.html', { page_main: true, theme_color:"#eff2f8" })
  </head>
  <body>
    <div id="layout" class="main">
      <!-- #gnb -->
      @@include('./include/gnb.html', {path:'.' })
      <!-- // #gnb -->

      <!-- #contents -->
      <main>
        <section class="page-top">
          <div class="inner">
            <div class="flex-wrap container">
              <div class="flex-wrap center symbol"><em class="hidden-txt">검찰</em></div>
              <div class="flex-wrap column start edge info">
                <em>검찰 형사사법정보시스템 입니다.</em>
                <span class="log"> 이용을 위해 <b class="txt-underline txt-color primary">로그인</b>을 해주세요! </span>
              </div>
            </div>
          </div>
        </section>
        <section class="inner">
          <div class="grid-wrap main-grid-area container">
            <div class="major-work">
              <a class="flex-wrap edge" href="">
                <dl>
                  <dt><strong>모바일 공판정</strong></dt>
                  <dd>공판지원 시스템</dd>
                </dl>
              </a>
            </div>
            <div class="major-work2 flex-wrap column edge">
              <button class="flex-wrap edge" type="button">
                <span class="flex-wrap">
                  <b>전자영장</b>
                  <em>전자영장 집행 시스템</em>
                </span>
              </button>
              <button class="flex-wrap edge" type="button">
                <span class="flex-wrap">
                  <b>압수지원</b>
                  <em>압수물 관리 시스템</em>
                </span>
              </button>
            </div>
            <div class="major-work3">
              <div class="grid-wrap col-3 gap20">
                <button class="flex-wrap column edge" type="button" onclick="location.href=''">
                  <em>자유형 집행</em>
                </button>
                <button class="flex-wrap column edge" type="button" onclick="location.href=''">
                  <em>재산형집행</em>
                </button>
                <button class="flex-wrap column edge" type="button" onclick="location.href=''">
                  <em>정보조회</em>
                </button>
              </div>
            </div>
            <div class="faq">
              <header class="heading-title-wrap">
                <h2 class="flex-wrap edge">
                  <strong>자주 묻는 질문</strong>
                  <a href="" class="flex-wrap"><i class="icon icon-more"></i><em>더보기</em></a>
                </h2>
              </header>
              <article>
                <ul>
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>공판지원</em></span>
                      <span class="txt-info">공판카드 작성시 주의사항 및 작성 방법 공판카드 작성시 주의사항 및 작성 방법</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>전자영장</em></span>
                      <span class="txt-info">사본 발급시 전자서명과 발급 방법입니다.</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>압수지원</em></span>
                      <span class="txt-info">폐기 대상 압수물 선별 및 선택 방법입니다.</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>압수지원</em></span>
                      <span class="txt-info">폐기 대상 압수물 선별 및 선택 방법입니다.</span>
                    </a>
                  </li>
                </ul>
              </article>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      @@include('./include/footer.html')
      <!-- // #footer -->
    </div>
  </body>
</html>
