<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('./include/head.html', { page_main: true, theme_color:"#eff2f8" })
  </head>
  <body>
    <div id="layout" class="main">
      <!-- #gnb -->
      @@include('./include/gnb.html', { page_main: true, path:'.' })
      <!-- // #gnb -->

      <!-- #contents -->
      <main>
        <section class="top">
          <div class="inner">
            <div class="flex-wrap container">
              <div class="flex-wrap center symbol"><em class="hidden-txt">검찰</em></div>
              <div class="flex-wrap column start info">
                <em>검찰 형사사법정보시스템 입니다.</em>
                <span class="log"> 이용을 위해 <b class="txt-underline txt-color primary">로그인</b>을 해주세요! </span>
              </div>
            </div>
          </div>
        </section>
        <section class="inner">
          <div class="grid-wrap main-grid-area container">
            <div class="banner">
              <div>
                <dl>
                  <dt><strong>모바일 공판정</strong></dt>
                  <dd>공판지원 시스템</dd>
                </dl>
              </div>
            </div>
            <div class="primary-list">
              <ul class="flex-wrap column">
                <li>
                  <a href="" class="flex-wrap">
                    <div class="inner">
                      <dl class="flex-wrap">
                        <dt><b>전자영장</b></dt>
                        <dd>전자영장 집행 시스템</dd>
                      </dl>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="" class="flex-wrap">
                    <div class="inner">
                      <dl class="flex-wrap">
                        <dt><b>압수지원</b></dt>
                        <dd>압수물 관리 시스템</dd>
                      </dl>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="secondary-list">
              <ul class="grid-wrap col-3">
                <li>
                  <a href="" class="flex-wrap">
                    <span class="flex-wrap column">
                      <em>자유형집행</em>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="" class="flex-wrap">
                    <span class="flex-wrap column">
                      <em>재산형집행</em>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="" class="flex-wrap">
                    <span class="flex-wrap column">
                      <em>정보조회</em>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="faq">
              <header class="heading-title-wrap">
                <h2 class="flex-wrap">
                  <strong>자주 묻는 질문</strong>
                  <a href="" class="flex-wrap"><i class="icon icon-more"></i><em>더보기</em></a>
                </h2>
              </header>
              <article>
                <ul class="faq-list">
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>공판지원</em></span>
                      <span class="txtInfo">공판카드 작성시 주의사항 및 작성 방법 공판카드 작성시 주의사항 및 작성 방법</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>전자영장</em></span>
                      <span class="txtInfo">사본 발급시 전자서명과 발급 방법입니다.</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>압수지원</em></span>
                      <span class="txtInfo">폐기 대상 압수물 선별 및 선택 방법입니다.</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>압수지원</em></span>
                      <span class="txtInfo">폐기 대상 압수물 선별 및 선택 방법입니다.</span>
                    </a>
                  </li>
                </ul>
              </article>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      @@include('./include/footer.html')
      <!-- // #footer -->
    </div>
  </body>
</html>
