<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html', { page_main: false, page_title:"정보조회", theme_color:"#fff" })
  </head>
  <body>
    <div id="layout" class="gate">
      <!-- gnb -->
      @@include('../include/gnb.html')
      <!-- // gnb -->

      <!-- pagenavigation -->
      @@include('../include/page_nav_02.html', { menu: false, page_title:"정보조회", path:'..'})
      <!-- // pagenavigation -->

      <!-- #contents -->
      <main>
        <section>
          <div class="list gate">
            <div class="inner">
              <ul class="grid-wrap gap20">
                <li>
                  <a class="flex-wrap edge" href="../search/search.html">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">통합사건검색</em></span>
                      <span>
                        <b>통합사건검색</b>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="flex-wrap edge" href="">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">범죄경력조회</em></span>
                      <span>
                        <b>범죄경력조회</b>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="flex-wrap edge" href="">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">지명수배조회</em></span>
                      <span>
                        <b>지명수배조회</b>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="flex-wrap edge" href="">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">주민정보조회</em></span>
                      <span>
                        <b>주민정보조회</b>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="flex-wrap edge" href="">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">차적조회</em></span>
                      <span>
                        <b>차적조회</b>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="flex-wrap edge" href="">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">수배차량조회</em></span>
                      <span>
                        <b>수배차량조회</b>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="flex-wrap edge" href="">
                    <div class="flex-wrap">
                      <span class="flex-wrap center icon-thumb"><em class="hidden-txt">운전면허조회</em></span>
                      <span>
                        <b>운전면허조회</b>
                      </span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->
    </div>
  </body>
</html>
