<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('./include/head.html', { page_main: true, theme_color:"#eff2f8" })
  </head>
  <body>
    <div id="layout" class="main">
      <!-- #gnb -->
      @@include('./include/gnb.html', { page_main: true, path:'.' })
      <!-- // #gnb -->

      <!-- #contents -->
      <main>
        <section class="top">
          <div class="inner">
            <div class="flex-wrap">
              <div class="flex-wrap center symbol"><em class="hidden-txt">검찰</em></div>
              <div class="flex-wrap column start info">
                <b>홍길동 검사님</b>
                <span class="flex-wrap log">
                  <em>안녕하세요!</em>
                  <button type="button" class="btn-logout sm bg-white round_ border gray"><em>사용자 전환</em></button>
                </span>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="grid-wrap main-grid-area2 inner">
            <div class="approvalStatus">
              <header class="heading-title-wrap">
                <h2>
                  <strong>통합승인 현황</strong>
                </h2>
              </header>
              <div class="grid-wrap col-2 gap-none statusBoard">
                <span class="flex-wrap column">
                  <b class="txt-color sub3">7</b>
                  <em>승인 요청</em>
                </span>
                <span class="flex-wrap column">
                  <b>22</b>
                  <em>승인 완료</em>
                </span>
              </div>
            </div>
            <div class="myWork">
              <header class="heading-title-wrap">
                <h2>
                  <strong>나의 업무 바로가기</strong>
                </h2>
              </header>
              <div class="grid-wrap sub-grid-area">
                <div class="work-list list-swiper-wrap col-4">
                  <div class="inner">
                    <h3>모바일 공판정</h3>
                  </div>
                  <div class="inner">
                    <div class="list-swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <span class="flex-wrap column">
                            <i class="icon icon-trial01"></i>
                            <em>공판정보</em>
                          </span>
                        </div>
                        <div class="swiper-slide">
                          <span class="flex-wrap column">
                            <i class="icon icon-trial02"></i>
                            <em>통합사건검색</em>
                          </span>
                        </div>
                        <div class="swiper-slide">
                          <span class="flex-wrap column">
                            <i class="icon icon-trial03"></i>
                            <em>공판카드</em>
                          </span>
                        </div>
                        <div class="swiper-slide">
                          <span class="flex-wrap column">
                            <i class="icon icon-trial04"></i>
                            <em>판결문검색</em>
                          </span>
                        </div>
                        <div class="swiper-slide">
                          <span class="flex-wrap column">
                            <i class="icon icon-trial01"></i>
                            <em>공판정보</em>
                          </span>
                        </div>
                        <div class="swiper-slide">
                          <span class="flex-wrap column">
                            <i class="icon icon-trial02"></i>
                            <em>통합사건검색</em>
                          </span>
                        </div>
                        <div class="swiper-slide">
                          <span class="flex-wrap column">
                            <i class="icon icon-trial03"></i>
                            <em>공판카드</em>
                          </span>
                        </div>
                        <div class="swiper-slide">
                          <span class="flex-wrap column">
                            <i class="icon icon-trial04"></i>
                            <em>판결문검색</em>
                          </span>
                        </div>
                      </div>
                      <div class="swiper-button-prev"><em class="icon icon-arrow-left"></em></div>
                      <div class="swiper-button-next"><em class="icon icon-arrow-right"></em></div>
                    </div>
                  </div>
                </div>
                <div class="banner">
                  <a href="../gate/gate.html">
                    <dl>
                      <dt><strong>정보조회</strong></dt>
                      <dd>범죄경력, 지명수배, 주민정보, 차적, 수배차량, 운전면허 조회</dd>
                    </dl>
                  </a>
                </div>
                <div class="btn-wrap flex-wrap column">
                  <button type="button" class="btn-certifying bg-white"><i class="icon icon-cert"></i><em>인증센터</em></button>
                  <button type="button" class="btn-manual bg-white"><i class="icon icon-manual"></i><em>매뉴얼</em></button>
                </div>
              </div>
            </div>
            <div class="faq">
              <header class="heading-title-wrap">
                <h2 class="flex-wrap">
                  <strong>자주 묻는 질문</strong>
                  <a href="" class="flex-wrap"><i class="icon icon-more"></i><em>더보기</em></a>
                </h2>
              </header>
              <article>
                <ul class="faq-list">
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>공판지원</em></span>
                      <span class="txtInfo">공판카드 작성시 주의사항 및 작성 방법 공판카드 작성시 주의사항 및 작성 방법</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>전자영장</em></span>
                      <span class="txtInfo">사본 발급시 전자서명과 발급 방법입니다.</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="flex-wrap">
                      <span class="caption"><em>압수지원</em></span>
                      <span class="txtInfo">폐기 대상 압수물 선별 및 선택 방법입니다.</span>
                    </a>
                  </li>
                </ul>
              </article>
            </div>
          </div>
        </section>
      </main>
      <!-- // #contents -->

      <!-- #footer -->
      @@include('./include/footer.html')
      <!-- // #footer -->
    </div>
  </body>
</html>
