/**
 * ==============================+
 * page navigation
 * ==============================+
 */

.page-nav {
  width: 100%;
  min-width: 320px;
  z-index: 999;
  background-color: $white;
  @include transition(0.3s all ease-out);

  @at-root .fixed {
    .page-nav {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }

  .h-wrap {
    height: 64px;

    h1 {
      display: inline-block;
      position: absolute;
      left: 50%;
      font-size: 2rem;
      white-space: nowrap;
      color: $darkGray;
      font-weight: 700;
      @include transform(translateX(-50%));

      * {
        vertical-align: baseline;
      }
    }
  }

  .allMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 999;
    display: none;

    .button--close {
      position: absolute;
      top: 25px;
      right: 30px;
    }

    > div {
      grid-template-columns: 1fr 3fr;
      min-height: 100vh;
    }

    .snb {
      background-color: $sub4;
      padding: 54px 0;

      > div {
        height: 100%;
      }

      .user-info {
        width: 100%;

        .symbol {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: $white;

          & + div {
            padding-top: 15px;

            em {
              font-size: 1.5rem;
              color: $gray6;
            }
          }
        }

        .log {
          margin-top: 10px;

          b {
            font-size: 2.4rem;
          }

          ul {
            font-size: 0;
            padding-top: 40px;

            li {
              display: inline-block;
              padding: 0 12px;

              &:last-of-type {
                padding-right: 0;
              }

              a {
                color: $primary;
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      .sideMenu {
        width: 100%;
        padding-left: 12px;
      }
    }

    .category {
      padding: 54px 60px;

      > ul {
        grid-template-columns: repeat(3, 1fr);
        grid-template-row: repeat(2, auto);
        column-gap: 40px;
        row-gap: 40px;
      }

      h4 {
        color: $gray6;
        font-size: 1.4rem;
        font-weight: 400;
      }

      .depth2 {
        margin-top: 25px;

        li {
          & + li {
            margin-top: 20px;
          }
        }

        > li {
          > a {
            display: block;
            line-height: 1.4;
            font-size: 1.8rem;
            color: $darkGray;
            font-weight: 700;
          }
        }
      }

      .depth3 {
        margin-top: 25px;

        li {
          a {
            display: block;
            font-size: 1.5rem;
            color: $darkGray2;
          }
        }
      }
    }
  }
}
