/**
 * ==============================+
 * layout
 * ==============================+
 */
#layout {
  position: relative;
  overflow: hidden;
  background-color: $white;

  &.main,
  &.gate {
    padding-bottom: 60px;

    main {
      min-height: -webkit-calc(100vh - 184px);
      min-height: -moz-calc(100vh - 184px);
      min-height: calc(100vh - 184px);
    }
  }

  &.main {
    #gnb,
    main {
      background-color: $gray3;
    }
  }

  &.signedIn {
    // 메인 - 로그인 후
    .main-grid-area {
      margin-top: 15px;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 240px 230px;
      grid-template-areas:
        'item1 item1 item1 item1 item2 item2 item2'
        'item3 item3 item3 item3 item4 item4 item4';

      > * {
        overflow: hidden;
      }

      .approval-status {
        .statusBoard {
          height: 192px;
          background-color: $navy;
          @include align-items('center');

          span {
            height: 80px;
            font-size: 0;
            color: #f3f5fa;
            position: relative;

            * {
              line-height: 1;
            }

            b {
              font-size: 4.5rem;
            }

            em {
              color: #c9ccd4;
              font-size: 1.6rem;
            }

            & + span {
              &::before {
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: #e6e6e7;
                opacity: 0.2;
                content: '';
              }
            }
          }
        }
        grid-area: item1;
      }

      .my-work {
        .banner {
          background-color: $primary;

          a {
            display: block;
            padding: 25px 25px 0;
            height: 120px;
          }

          dl {
            dt,
            dd {
              line-height: 1;
              font-size: 1.4rem;
              color: #dbecf1;
            }

            dt {
              color: $white;
              font-size: 2.2rem;
            }

            dd {
              margin-top: 20px;
              line-height: 1.2;
              @include break-word;
            }
          }
        }
        .btn-wrap {
          margin-top: 15px;
          padding: 0;
          column-gap: 15px;

          button {
            height: 58px;
            background-color: white;

            &::before {
              @include icon;
              content: '';
            }

            &:first-of-type {
              &::before {
                @include icon-cert;
              }
            }

            &:nth-of-type(2) {
              &::before {
                @include icon-manual;
              }
            }

            em {
              font-size: 1.8rem;
              margin-left: 10px;
            }
          }
        }
        grid-area: item2;
      }

      .mobile-trial {
        .trial-list {
          background-color: $white;
          height: 180px;

          h3 {
            line-height: 1;
            font-size: 1.6rem;
            margin-bottom: 20px;
          }

          .swiper-slide {
            span {
              height: 64px;
              @include justify-content('space-between');

              b {
                font-size: 1.8rem;
                letter-spacing: -0.7px;
                margin-left: 0;
              }
            }
          }
        }
        grid-area: item3;
      }

      .faq {
        article {
          background-color: $white;
          padding: 20px 25px;

          .faq-list {
            li {
              .caption {
                padding: 5px 8px;
                border-radius: 5px;
                background-color: $sub4;
                color: $sub2;
                font-size: 0;

                em {
                  display: inline-block;
                  line-height: 1;
                  font-size: 1.4rem;
                }
              }
              .txtInfo {
                @include ellipsis;
                padding-left: 8px;
                max-width: 100%;
                font-size: 1.5rem;
              }

              & + li {
                margin-top: 15px;
              }
            }
          }
        }
        grid-area: item4;
      }
    }
  }

  &.menu {
    #gnb {
      background-color: $sub4;
    }

    main {
      section {
        &.page-top {
          padding: 15px 0;
          background-color: $sub4;

          & + section {
            overflow: hidden;
          }
        }

        .horizonSlider {
          font-size: 0;
          overflow: hidden;
          overflow-x: auto;
          position: relative;
          width: -webkit-calc(100% + 40px);
          width: -moz-calc(100% + 40px);
          width: calc(100% + 40px);
          left: -20px;
          padding: 15px 20px;

          span {
            button {
              padding: 8px 13px;
              background-color: $gray4;
              color: $gray5;
              line-height: 1;
              border-radius: 7px;
              font-size: 1.4rem;

              em {
                display: inline-block;
                white-space: nowrap;
                line-height: 1;
                margin-top: 2px;
              }

              &.active {
                background-color: $primary;
                color: $white;
              }
            }

            & + span {
              margin-left: 10px;
            }
          }
        }

        .category {
          h4 {
            color: $gray6;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 35px;
          }
          // 1Depth
          > li {
            padding: 20px 0;
            position: relative;

            & + li {
              &::before {
                position: absolute;
                top: 0;
                left: -20px;
                right: -20px;
                height: 1px;
                background-color: $gray4;
                content: '';
              }
            }
          }

          ._depth2 {
            > li {
              > a {
                display: block;
                line-height: 45px;
                font-size: 1.6rem;
                color: $darkGray;
                font-weight: 700;
              }
            }
          }

          ._depth3 {
            position: relative;
            width: -webkit-calc(100% + 40px);
            width: -moz-calc(100% + 40px);
            width: calc(100% + 40px);
            margin-left: -20px;
            background-color: $gray3;
            padding: 20px 30px;

            li {
              line-height: 1;
              padding-left: 10px;
              position: relative;

              &::before {
                position: absolute;
                top: 50%;
                left: 0;
                @include transform(translateY(-50%));
                @include icon;
                @include icon-dot-gray;
                content: '';
              }

              & + li {
                margin-top: 25px;
              }

              a {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  &.search {
    main {
      padding-bottom: 0;

      section {
        & + section {
          margin-top: 20px;
        }
      }
    }
  }
}

/*main*/
main {
  width: 100%;
  position: relative;
  background-color: $white;
  padding: 20px 0 40px;
  min-height: -webkit-calc(100vh - 124px);
  min-height: -moz-calc(100vh - 124px);
  min-height: calc(100vh - 124px);

  &::after {
    display: block;
    clear: both;
    content: '';
  }

  @at-root .fixed {
    main {
      padding-top: 64px;
    }
  }

  @at-root section {
    position: relative;

    &.bg-gray {
      background-color: $gray4 !important;
    }

    &.bg-cert {
      background-color: $sub4;
      background-image: url('../images/img-bg01.gif');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center 0;
      padding: 25px 0 15px;

      .btn-wrap {
        margin-top: 80px;
      }

      & + section {
        padding: 30px 0;
      }
    }
  }

  section {
    &.page-top {
      .symbol {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $white;

        &::before {
          @include icon;
          @include icon-symbol;
          content: '';
        }
      }

      .info {
        padding-left: 15px;
        height: 52px;

        * {
          white-space: nowrap;
        }

        em {
          font-size: 1.5rem;
          color: $gray6;
        }

        b {
          font-size: 2.4rem;
          line-height: 1;
        }

        span {
          font-size: 2.4rem;
          font-weight: 500;

          & + .log {
            margin-left: 25px;
          }
        }
      }

      .log {
        width: 100%;
        font-size: 2.4rem;
        line-height: 1;

        > * {
          vertical-align: top;
        }
      }

      .userInfo + div {
        margin-top: 30px;
      }
    }
  }

  // 메인 - 로그인 전
  .main-grid-area {
    margin-top: 25px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 220px 225px;
    grid-template-areas:
      'item1 item1 item1 item1 item2 item2 item2'
      'item3 item3 item3 item3 item4 item4 item4';

    > * {
      overflow: hidden;
    }

    .major-work-01 {
      background-color: $navy;

      > a {
        height: 100%;
        padding: 0 25px 0 50px;

        &::after {
          position: relative;
          top: 30px;
          width: 157px;
          height: 212px;
          background-image: url('../images/img-raw.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% auto;
          content: '';
        }

        dl {
          dt,
          dd {
            line-height: 1;
            font-size: 1.5rem;
            color: #dbecf1;
          }

          dt {
            color: $white;
            font-size: 2.6rem;
          }

          dd {
            margin-top: 10px;
          }
        }
      }

      grid-area: item1;
    }
    .major-work-02 {
      button {
        width: 100%;
        height: 105px;
        box-shadow: 0 0 3px 1px rgba($black, 5%);
        background-color: $white;
        padding: 0 20px;

        &:focus,
        &:active:enabled,
        &.active {
          background-color: $primary !important;
          color: $white;

          * {
            color: $white;
          }

          &::after {
            @include icon-next-wh;
          }
        }

        &::after {
          @include icon;
          @include icon-next-active;
          content: '';
        }

        span {
          b {
            font-size: 2.2rem;
          }
          em {
            margin-left: 15px;
            font-size: 1.5rem;
            color: $gray5;
          }
        }
      }
      grid-area: item2;
    }
    .major-work-03 {
      padding-top: 15px;

      button {
        height: 210px;
        padding: 45px 0;
        background-color: $white;
        border-radius: 10px;

        &:focus,
        &:active:enabled,
        &.active {
          background-color: $primary !important;
          color: $white;
        }

        &::after {
          @include icon;
          content: '';
        }

        &:nth-of-type(1) {
          &::after {
            @include icon-exec;
          }
        }
        &:nth-of-type(2) {
          &::after {
            @include icon-exec2;
          }
        }
        &:nth-of-type(3) {
          &::after {
            @include icon-detail-view;
          }
        }

        em {
          font-size: 2rem;
          font-weight: 500;
        }
      }

      grid-area: item3;
    }
    .faq {
      article {
        background-color: $white;
        padding: 20px;

        ul {
          li {
            .caption {
              padding: 5px 8px;
              border-radius: 5px;
              background-color: $sub4;
              color: $sub2;
              font-size: 0;

              em {
                display: inline-block;
                line-height: 1;
                font-size: 1.4rem;
              }
            }
            .txtInfo {
              @include ellipsis;
              padding-left: 8px;
              font-size: 1.5rem;
              max-width: 100%;
            }

            & + li {
              margin-top: 15px;
            }
          }
        }
      }
      grid-area: item4;
    }
  }
}

/*list*/
.list {
  /*gate*/
  &.gate {
    ul {
      li {
        .icon-thumb {
          width: 65px;
          height: 65px;
          border-radius: 10px;
          background-color: $gray3;

          &::before {
            @include icon;
            content: '';
          }

          & + span {
            margin-left: 20px;

            b {
              font-size: 1.8rem;
              color: $darkGray;
            }
          }
        }

        &:nth-of-type(1) {
          .icon-thumb {
            &::before {
              @include icon-check-info01;
            }
          }
        }
        &:nth-of-type(2) {
          .icon-thumb {
            &::before {
              @include icon-check-info02;
            }
          }
        }
        &:nth-of-type(3) {
          .icon-thumb {
            &::before {
              @include icon-check-info03;
            }
          }
        }
        &:nth-of-type(4) {
          .icon-thumb {
            &::before {
              @include icon-check-info04;
            }
          }
        }
        &:nth-of-type(5) {
          .icon-thumb {
            &::before {
              @include icon-check-info05;
            }
          }
        }
        &:nth-of-type(6) {
          .icon-thumb {
            &::before {
              @include icon-check-info06;
            }
          }
        }
        &:nth-of-type(7) {
          .icon-thumb {
            &::before {
              @include icon-check-info07;
            }
          }
        }

        a {
          &::after {
            @include icon;
            @include icon-next-black;
            content: '';
          }
        }
      }
    }
  }

  /*login type*/
  &.selectType {
    ul {
      li {
        padding: 20px 0;
        position: relative;

        &::after {
          position: absolute;
          left: -20px;
          right: -20px;
          bottom: 0;
          height: 1px;
          background-color: $gray4;
          content: '';
        }

        .icon-thumb {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          background-color: $gray3;

          &::before {
            @include icon;
            content: '';
          }

          & + span {
            margin-left: 20px;

            b {
              font-size: 1.8rem;
              color: $darkGray;
            }
          }
        }

        &:nth-of-type(1) {
          .icon-thumb {
            &::before {
              @include icon-login-type01;
            }
          }
        }
        &:nth-of-type(2) {
          .icon-thumb {
            &::before {
              @include icon-login-type02;
            }
          }
        }
        &:nth-of-type(3) {
          .icon-thumb {
            &::before {
              @include icon-login-type03;
            }
          }
        }
        &:nth-of-type(4) {
          .icon-thumb {
            &::before {
              @include icon-login-type04;
            }
          }
        }

        a {
          &::after {
            @include icon;
            @include icon-next-black;
            content: '';
          }
        }
      }
    }
  }

  /*user id*/
  &.user {
    ul {
      position: relative;
      left: -30px;
      right: -30px;
      width: -webkit-calc(100% + 60px);
      width: -moz-calc(100% + 60px);
      width: calc(100% + 60px);

      li {
        position: relative;

        &:first-of-type {
          &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            background-color: $gray4;
            content: '';
          }
        }

        &::after {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          background-color: $gray4;
          content: '';
        }

        button {
          width: 100%;
          height: 60px;
          padding: 0 30px;

          &::after {
            @include icon;
            @include icon-next;
            content: '';
          }
        }
      }
    }
  }
}

/*card list*/
.card-list {
  ul {
    li {
      padding: 20px 0;
      background-color: $white;

      .contents {
        grid-template-columns: 25px auto;
      }

      .card-view {
        .st-label {
          display: inline-block;
          position: absolute;
          top: -20px;
          right: 0;
          line-height: 25px;
          padding: 0 15px;
          border-width: 0 0 1px 1px;
          border-style: solid;
          border-color: #cccfd5;
          background-color: $gray3;
          border-bottom-left-radius: 10px;
          font-size: 1.3rem;
          font-weight: 500;
          color: $gray5;

          &.apply {
            border-color: $sub3;
            background-color: #e7fcff;
            color: $sub3;
          }
        }

        dl {
          dd {
            .count {
              display: inline-block;
              vertical-align: bottom;
            }
          }
        }
      }
    }
  }
}

/*swiper*/
.list-swiper-wrap {
  &.col-4 {
    .swiper-slide {
      width: 25% !important;
    }
  }

  .list-swiper {
    overflow: hidden;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    z-index: 10;
    cursor: pointer;
    font-size: 0;
  }

  .swiper-button-prev {
    left: 7px;
  }

  .swiper-button-next {
    right: 7px;
  }
}
