<footer>
  <div class="inner">
    <ul class="grid-wrap col-4 gap-none">
      <li class="active">
        <a href="../index.html">
          <span class="flex-wrap column edge"><em>메인화면</em></span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="flex-wrap column edge"><em>마이페이지</em></span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="flex-wrap column edge"><em>즐겨찾기</em></span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="flex-wrap column edge"><em>환경설정</em></span>
        </a>
      </li>
    </ul>
  </div>
</footer>
