<header id="gnb">
  <div class="inner">
    <div class="flex-wrap edge h-wrap">
      <span>
        <a href="" class="icon icon-logo"><em class="hidden-txt">검찰</em></a>
      </span>
      <h1 class="hidden-txt">메인</h1>
      <span class="button--allmenu">
        <a class="button-open-allMenu" href="aside/menu.html">
          <em class="hidden-txt">전체메뉴</em>
          <i></i>
          <i></i>
          <i></i>
        </a>
      </span>
    </div>
    <!-- <div class="allMenu">@@include('../include/allMenu.html')</div> -->
  </div>
</header>
