<header class="modal-header">
  <div class="inner">
    <div class="flex-wrap end h-wrap">
      <span class="button--close">
        <a href="javascript:void(0)" class="button-close-modal" data-modal-name="searchApplyDetail">
          <em class="hidden-txt">레이어팝업 닫기</em>
          <i></i>
          <i></i>
        </a>
      </span>
      <h2>검색요청 상세</h2>
    </div>
  </div>
</header>
<div class="modal-body">
  <section>
    <div class="inner">
      <div class="description">
        <div class="inner">
          <ul class="dot-list">
            <li><b>팀장 승인</b>(1차 승인) 업무 입니다.</li>
            <li>팀장 부재 시 사유를 입력하고 <b>타 부서 팀장 또는 선임자</b>를 승인자로 지정, 등록 할 수 있습니다.</li>
          </ul>
        </div>
      </div>
      <div class="form-wrap">
        <dl class="form-list">
          <dt>요청자</dt>
          <dd class="grid-wrap">
            <div class="text-wrap">
              <input type="text" id="a1" title="소속부서" value="서울중앙지검" autocomplete="off" readonly />
            </div>
            <div class="text-wrap">
              <input type="text" id="a2" title="이름" value="홍길동" autocomplete="off" readonly />
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>승인자</dt>
          <dd class="grid-wrap">
            <div class="text-wrap">
              <input type="text" id="b1" autocomplete="off" title="소속 관서" placeholder="소속 관서" />
              <button type="button" class="button-reset"><em class="hidden-txt">초기화</em></button>
            </div>
            <div class="text-wrap">
              <input type="text" id="b2" autocomplete="off" title="이름" placeholder="이름" />
              <button type="button" class="button-reset"><em class="hidden-txt">초기화</em></button>
            </div>
            <div class="btn-wrap">
              <button class="btn-search bg-navy"><em>변경</em></button>
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>검색목적</dt>
          <dd>
            <div class="text-wrap">
              <textarea
                name=""
                id=""
                cols="30"
                rows="10"
                placeholder="검색목적은 30자 이상 150자 이내로 입력해 주세요."
                title="검색목적"
              ></textarea>
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>
            <label for="c"><em>관할 관서</em></label>
          </dt>
          <dd>
            <div class="text-wrap">
              <input type="text" id="c" autocomplete="off" placeholder="소속 관서" />
            </div>
            <div class="btn-wrap">
              <button class="btn-search bg-navy"><em>검색</em></button>
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>부서&#47;담당자</dt>
          <dd>
            <div class="text-wrap">
              <input type="text" id="d1" autocomplete="off" title="소속팀" placeholder="소속팀" />
            </div>
            <div class="btn-wrap">
              <button class="btn-search bg-navy"><em>검색</em></button>
            </div>
          </dd>
          <dd>
            <div class="text-wrap">
              <input type="text" id="d2" autocomplete="off" title="이름" placeholder="이름" />
            </div>
            <div class="btn-wrap">
              <button class="btn-search bg-navy"><em>검색</em></button>
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>접수일</dt>
          <dd class="flex-wrap edge">
            <div class="text-wrap calendar both">
              <label for="startDate_1"><em class="hidden-txt">접수 시작 날짜</em></label>
              <input type="text" id="startDate_1" autocomplete="off" inputmode="none" />
            </div>
            <div class="text-wrap calendar both">
              <label for="endDate_1"><em class="hidden-txt">접수 끝 날짜</em></label>
              <input type="text" id="endDate_1" autocomplete="off" inputmode="none" />
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>접수번호</dt>
          <dd class="flex-wrap edge">
            <div class="text-wrap both">
              <label for="startNumber_1"><em class="hidden-txt">접수번호 시작</em></label>
              <input type="text" id="startNumber_1" autocomplete="off" />
              <button type="button" class="button-reset"><em class="hidden-txt">초기화</em></button>
            </div>
            <div class="text-wrap both">
              <label for="endNumber_1"><em class="hidden-txt">접수번호 끝</em></label>
              <input type="text" id="endNumber_1" autocomplete="off" />
              <button type="button" class="button-reset"><em class="hidden-txt">초기화</em></button>
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>입건일</dt>
          <dd class="flex-wrap edge">
            <div class="text-wrap calendar both">
              <label for="startDate_2"><em class="hidden-txt">입건 시작 날짜</em></label>
              <input type="text" id="startDate_2" autocomplete="off" inputmode="none" />
            </div>
            <div class="text-wrap calendar both">
              <label for="endDate_2"><em class="hidden-txt">입건 끝 날짜</em></label>
              <input type="text" id="endDate_2" autocomplete="off" inputmode="none" />
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>사건번호</dt>
          <dd class="flex-wrap edge">
            <div class="text-wrap both">
              <label for="startNumber_2"><em class="hidden-txt">사건번호 시작</em></label>
              <input type="text" id="startNumber_2" autocomplete="off" />
              <button type="button" class="button-reset"><em class="hidden-txt">초기화</em></button>
            </div>
            <div class="text-wrap both">
              <label for="endNumber_2"><em class="hidden-txt">사건번호 끝</em></label>
              <input type="text" id="endNumber_2" autocomplete="off" />
              <button type="button" class="button-reset"><em class="hidden-txt">초기화</em></button>
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>접수단서</dt>
          <dd>
            <div class="select-wrap">
              <label for="e"><em class="hidden-txt">접수단서 선택</em></label>
              <select name="" id="e">
                <option value="">선택</option>
              </select>
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>접수형태</dt>
          <dd>
            <div class="select-wrap">
              <label for="f"><em class="hidden-txt">접수형태 선택</em></label>
              <select name="" id="f">
                <option value="">선택</option>
              </select>
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>진행상태</dt>
          <dd>
            <div class="select-wrap">
              <label for="g"><em class="hidden-txt">진행상태 선택</em></label>
              <select name="" id="g">
                <option value="">선택</option>
              </select>
            </div>
          </dd>
        </dl>
        <dl class="form-list">
          <dt>
            <label for="h"><em>죄명검색</em></label>
          </dt>
          <dd>
            <div class="text-wrap">
              <input type="text" id="h" autocomplete="off" placeholder="죄명검색" />
              <button type="button" class="button-reset"><em class="hidden-txt">초기화</em></button>
            </div>
            <div class="btn-wrap">
              <button class="btn-search bg-navy"><em>검색</em></button>
            </div>
            <div class="chk-wrap type-02 grid-wrap col-2">
              <span>
                <input type="checkbox" name="" id="chk3" />
                <label for="chk3"><b>원표작성정보</b></label>
              </span>
              <span>
                <input type="checkbox" name="" id="chk4" />
                <label for="chk4"><b>단서검색</b></label>
              </span>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </section>
  <section class="bg-gray">
    <div class="caution">
      <div class="inner current">
        <a href="javascript:void(0);" class="flex-wrap button-active-dropDown">
          <i class="icon icon-caution"></i>
          <b class="button--arrow2">보안경고</b>
        </a>
        <ul class="dropDown dot-list">
          <li>
            모든 검색 및 출력기록은 저장·관리되며, 검색 내용 및 출력물은 수사 등 형사사법업무처리 이외의 목적으로 이용할 수
            없습니다.
          </li>
          <li>
            형사사법정보의 누설, 권한 없는 처리, 타인 이용 제공 등 행위는 형사처벌을 받을 수 있습니다. (5년 이하 징역 또는 5천만원
            이하의 벌금)
          </li>
        </ul>
      </div>
    </div>
    <div class="inner">
      <div class="btn-wrap grid-wrap col-2">
        <button class="btn-cancle bg-white"><em>취소</em></button>
        <button class="btn-apply bg-blue"><em>승인요청</em></button>
      </div>
    </div>
  </section>
</div>
