<header class="modal-header">
  <div class="inner">
    <div class="flex-wrap end h-wrap">
      <span class="button--close">
        <a href="javascript:void(0)" class="button-close-modal" data-modal-name="inputPassword">
          <em class="hidden-txt">레이어팝업 닫기</em>
          <i></i>
          <i></i>
        </a>
      </span>
      <h2>비밀번호 입력</h2>
    </div>
  </div>
</header>
<div class="modal-body">
  <section class="has-title">
    <div class="inner">
      <header class="heading-title-wrap2">
        <h3>사용자 <b class="txt-color primary">ID USERID01</b></h3>
      </header>
      <div class="form-wrap">
        <div class="text-wrap">
          <label for="password"><em class="hidden-txt">KICS 비밀번호</em></label>
          <input type="password" id="password" placeholder="KICS 비밀번호" autocomplete="off" />
          <button type="button" class="button-reset"><em class="hidden-txt">초기화</em></button>
        </div>

        <!-- 비밀번호 오류-->
        <!-- <div class="text-wrap error">
          <label for="password"><em class="hidden-txt">KICS 비밀번호</em></label>
          <input type="password" id="password" placeholder="KICS 비밀번호" autocomplete="off" />
        </div>
        <p class="txt-error">
          <em>
            비밀번호가 일치하지 않습니다.(2&#47;5)<br />
            5회 연속으로 오류 시 이용이 불가능 합니다.
          </em>
        </p> -->
        <div class="btn-wrap">
          <button class="btn-search bg-navy"><em>로그인</em></button>
        </div>
      </div>
    </div>
  </section>
</div>
