<header class="modal-header">
  <div class="inner">
    <div class="flex-wrap h-wrap">
      <span class="button--close">
        <a href="javascript:void(0)" class="button-close-modal" data-modal-name="searchResultDetail">
          <em class="hidden-txt">레이어팝업 닫기</em>
          <i></i>
          <i></i>
        </a>
      </span>
      <h2>검색결과 상세</h2>
    </div>
  </div>
</header>
<div class="modal-body">
  <section>
    <div class="searchFilter">
      <div class="inner current">
        <a href="javascript:void(0);" class="button--arrow button-active-dropDown">
          <b>검색요청 상세 조건</b>
        </a>
        <div class="dropDown table">
          <dl>
            <dt>관할관서</dt>
            <dd>서울중앙지검</dd>
          </dl>
          <dl>
            <dt>부서&#47;담당자</dt>
            <dd>공판제4부 &#47; 홍길동</dd>
          </dl>
          <dl>
            <dt>접수일</dt>
            <dd>2022.01.01 ~ 2022.05.20</dd>
          </dl>
          <dl>
            <dt>접수번호</dt>
            <dd>123456789 - 123456789</dd>
          </dl>
          <dl>
            <dt>입건일</dt>
            <dd>2022.01.01 ~ 2022.05.20</dd>
          </dl>
          <dl>
            <dt>사건번호</dt>
            <dd>123456789 - 123456789</dd>
          </dl>
          <dl>
            <dt>접수단서</dt>
            <dd>-</dd>
          </dl>
          <dl>
            <dt>접수형태</dt>
            <dd>-</dd>
          </dl>
          <dl>
            <dt>진행상태</dt>
            <dd>-</dd>
          </dl>
          <dl>
            <dt>죄명</dt>
            <dd>절도, 사기</dd>
          </dl>
          <dl>
            <dt>원표작성정보</dt>
            <dd>미포함</dd>
          </dl>
          <dl>
            <dt>단서검색</dt>
            <dd>포함</dd>
          </dl>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-gray">
    <div class="tab-container">
      <div class="tab-menu grid-wrap col-2 gap-none">
        <span>
          <a href="" class="active"><em>탐문정보 사건 제외</em></a>
        </span>
        <span>
          <a href=""><em>탐문정보 사건(입건이후)</em></a>
        </span>
      </div>
      <div class="tab-contents">
        <ul>
          <li>
            <div class="inner">
              <div class="table">
                <dl>
                  <dt>취급관서</dt>
                  <dd>서울중앙지검</dd>
                </dl>
                <dl>
                  <dt>접수번호</dt>
                  <dd>2018-000232</dd>
                </dl>
                <dl>
                  <dt>접수일</dt>
                  <dd>2018.05.16</dd>
                </dl>
                <dl>
                  <dt>접수단서</dt>
                  <dd>탐문정보</dd>
                </dl>
                <dl>
                  <dt>피의자</dt>
                  <dd>호비 외 1</dd>
                </dl>
                <dl>
                  <dt>처리상태</dt>
                  <dd>입건</dd>
                </dl>
                <dl>
                  <dt>담당자(부서)</dt>
                  <dd>김미현(공판제4부)</dd>
                </dl>
                <dl>
                  <dt>사건번호</dt>
                  <dd>2018-000111</dd>
                </dl>
                <dl>
                  <dt>입건일</dt>
                  <dd>2018.05.29</dd>
                </dl>
                <dl>
                  <dt>죄명</dt>
                  <dd>절도</dd>
                </dl>
                <dl>
                  <dt>피해자</dt>
                  <dd>고길동</dd>
                </dl>
                <dl>
                  <dt>종결일</dt>
                  <dd>-</dd>
                </dl>
              </div>
            </div>
          </li>
          <li>
            <div class="inner">
              <div class="table">
                <dl>
                  <dt>취급관서</dt>
                  <dd>서울중앙지검</dd>
                </dl>
                <dl>
                  <dt>접수번호</dt>
                  <dd>2018-000232</dd>
                </dl>
                <dl>
                  <dt>접수일</dt>
                  <dd>2018.05.16</dd>
                </dl>
                <dl>
                  <dt>접수단서</dt>
                  <dd>탐문정보</dd>
                </dl>
                <dl>
                  <dt>피의자</dt>
                  <dd>호비 외 1</dd>
                </dl>
                <dl>
                  <dt>처리상태</dt>
                  <dd>입건</dd>
                </dl>
                <dl>
                  <dt>담당자(부서)</dt>
                  <dd>김미현(공판제4부)</dd>
                </dl>
                <dl>
                  <dt>사건번호</dt>
                  <dd>2018-000111</dd>
                </dl>
                <dl>
                  <dt>입건일</dt>
                  <dd>2018.05.29</dd>
                </dl>
                <dl>
                  <dt>죄명</dt>
                  <dd>절도</dd>
                </dl>
                <dl>
                  <dt>피해자</dt>
                  <dd>고길동</dd>
                </dl>
                <dl>
                  <dt>종결일</dt>
                  <dd>-</dd>
                </dl>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="inner">
      <div class="btn-wrap grid-wrap col-2">
        <button class="btn-cancle bg-white"><em>취소</em></button>
        <button class="btn-print bg-blue"><em>인쇄</em></button>
      </div>
    </div>
  </section>
</div>
